.slideshow {
    width: 100vw;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.slideshowSlider{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide{
    display: inline-block;
    object-fit: contain;
    width: 100%;
}

